<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EMGU.CV" version="4.1.1.3497" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="19.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.Data.WinForms" version="19.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="19.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.Grid.Base" version="19.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.Grid.Windows" version="19.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="19.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.Grouping.Base" version="19.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="19.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.SfInput.WinForms" version="19.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.SfListView.WinForms" version="19.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="19.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.Shared.Windows" version="19.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.SpellChecker.Base" version="19.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.Tools.Base" version="19.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.Tools.Windows" version="19.2.0.46" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.6.0" targetFramework="net472" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net472" />
</packages>